[submodule "fsg-api"]
	path = fsg-api
	url = git@github.com:5SG/fsg-api.git
	update = merge 
	branch = main
[submodule "fsg-gameserver"]
	path = fsg-gameserver
	url = git@github.com:5SG/fsg-gameserver.git
	update = merge 
	branch = main
[submodule "fsg-websocket"]
	path = fsg-websocket
	url = git@github.com:5SG/fsg-websocket.git
	update = merge 
	branch = main
[submodule "fsg-client"]
	path = fsg-client
	url = git@github.com:5SG/fsg-client.git
	update = merge 
	branch = main
[submodule "fsg-shared"]
	path = fsg-shared
	url = ../fsg-shared.git
	update = merge 
	branch = main
[submodule "tictactoe"]
	path = templates/tictactoe
	url = git@github.com:fivesecondgames/tictactoe.git
	update = merge 
	branch = main
[submodule "fsg-gitworker"]
	path = fsg-gitworker
	url = git@github.com:5SG/fsg-gitworker.git
	update = merge 
	branch = main
	
