[submodule "api"]
	path = api
	url = git@github.com:acosg/api.git
	update = merge 
	branch = main
[submodule "gameserver"]
	path = gameserver
	url = git@github.com:acosg/gameserver.git
	update = merge 
	branch = main
[submodule "websocket"]
	path = websocket
	url = git@github.com:acosg/websocket.git
	update = merge 
	branch = main
[submodule "matchmaker"]
	path = matchmaker
	url = git@github.com:acosg/matchmaker.git
	update = merge 
	branch = main
[submodule "client"]
	path = client
	url = git@github.com:acosg/client.git
	update = merge 
	branch = main
[submodule "shared"]
	path = shared
	url = ../shared.git
	update = merge 
	branch = main
[submodule "gitworker"]
	path = gitworker
	url = git@github.com:acosg/gitworker.git
	update = merge 
	branch = main
[submodule "templates/tictactoe"]
	path = templates/tictactoe
	url = git@github.com:acosgames/tictactoe.git
	update = merge 
	branch = main
# [submodule "templates/poptrivia"]
# 	path = templates/poptrivia
# 	url = git@github.com:fivesecondgames/poptrivia.git
# 	update = merge 
# 	branch = main
# [submodule "templates/rockpaperscissors"]
# 	path = templates/rockpaperscissors
# 	url = git@github.com:fivesecondgames/rockpaperscissors.git
# 	update = merge 
# 	branch = main
[submodule "templates/acosgames"]
	path = templates/acosgames
	url = git@github.com:acosgames/acosgames.git
	update = merge 
	branch = main
