[submodule "forkoff-api"]
	path = forkoff-api
	url = git@github.com:forkoff-io/forkoff-api.git
[submodule "forkoff-gameserver"]
	path = forkoff-gameserver
	url = git@github.com:forkoff-io/forkoff-gameserver.git
[submodule "forkoff-websocket"]
	path = forkoff-websocket
	url = git@github.com:forkoff-io/forkoff-websocket.git
[submodule "forkoff-client"]
	path = forkoff-client
	url = git@github.com:forkoff-io/forkoff-client.git
[submodule "forkoff-shared"]
	path = forkoff-shared
	url = git@github.com:forkoff-io/forkoff-shared.git
